<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">map</property>
        <property name="hibernate.connection.password">map</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/coffee_shop</property>



        <property name="connection_pool_size">1</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>



        <mapping class="org.example.model.Person"></mapping>
        <mapping class="org.example.model.Admin"></mapping>
        <mapping class="org.example.model.Client"></mapping>
        <mapping class="org.example.model.Card"></mapping>
        <mapping class="org.example.model.Food"></mapping>
        <mapping class="org.example.model.Product"></mapping>
        <mapping class="org.example.model.Coffee"></mapping>
        <mapping class="org.example.model.Order"></mapping>
        <mapping class="org.example.model.OfferOrder"></mapping>
        <mapping class="org.example.model.Offer"></mapping>


    </session-factory>
</hibernate-configuration>